* {
	margin: 0;
	padding: 0
}


.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: "title title" 
	"header header"
	"sidebar content"
	"footer footer"
}

.title {
	grid-area: title;
}

.header {
	grid-area: header;
	display: inline-table;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "header-buttons header-buttons 
	header-buttons header-buttons header-buttons";
	position: fixed;
}

#about {
	text-align: left;
}

.header-buttons {
	display: inline;
	padding: 20px;
	border: 20px;
	font-size: 150%;
}

.sidebar {
	grid-column: 1;
	grid-area: sidebar;
}
.content {
	grid-area: content;
	display: inline-table;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "layer-1 layer-1 
	layer-1 layer-1";
	
}

.layer-1 {
	display: inline;
	padding: 20px;
	border: 20px;
	font-size: 150%;
}

.footer {
	grid-area: footer;
	display: inline-table;
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-template-areas: "footerButton footerButton";

}

table, th, td {
    border: 1px solid black;
}

#title {
	text-align: center;
	font-size: 350%;
	background-color: ;
}
.footerButton {
	display: inline;
	font-size: 150%;
}
